# 1. Create a string with your name and print it

In [2]:
Name= "Shivam"
print(Name)

Shivam

# 2. Find length of "Hello World"

In [3]:
print(len("Hello World"))

11

# 3. Slice first 3 characters from "Python Programming"

In [4]:
print("Python Programming"[:3])

Pyt

# 4. Convert "hello" to uppercase

In [7]:
print("hello".upper())

HELLO

# 5. Replace "apple" with "orange" in "I like apple"

In [9]:
print("I like apple".replace("apple", "orange"))

I like orange

# 6. Create a list with numbers 1 to 5 and print

In [10]:
nums = [1, 2, 3, 4, 5]
print(nums)

[1, 2, 3, 4, 5]

# 7. Append 10 to [1, 2, 3, 4]

In [11]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

# 8. Remove 3 from [1, 2, 3, 4, 5]

In [12]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

# 9. Access second element in ['a', 'b', 'c', 'd']

In [13]:
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

# 10. Reverse [10, 20, 30, 40, 50]

In [14]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

# 11. Create and print tuple (100, 200, 300)

In [15]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

# 12. Access second-to-last in ('red', 'green', 'blue', 'yellow')

In [16]:
t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

# 13. Find min in (10, 20, 5, 15)

In [17]:
print(min((10, 20, 5, 15)))

5

# 14. Find index of "cat" in ('dog', 'cat', 'rabbit')

In [18]:
print(('dog', 'cat', 'rabbit').index("cat"))

1

# 15. Check if "kiwi" in a fruit tuple

In [20]:
fruits = ("apple", "banana", "cherry")
print("kiwi" in fruits)

False

# 16. Create and print set {'a', 'b', 'c'}

In [21]:
s = {'a', 'b', 'c'}
print(s)

{'c', 'a', 'b'}

# 17. Clear all elements from {1, 2, 3, 4, 5}

In [22]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

# 18. Remove 4 from {1, 2, 3, 4}

In [23]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

# 19. Union of {1, 2, 3} and {3, 4, 5}

In [24]:
print({1, 2, 3} | {3, 4, 5})

{1, 2, 3, 4, 5}

# 20. Intersection of {1, 2, 3} and {2, 3, 4}

In [25]:
print({1, 2, 3} & {2, 3, 4})

{2, 3}

#21. Create and print dictionary

In [26]:
d = {"name": "Alice", "age": 30, "city": "Paris"}
print(d)

{'name': 'Alice', 'age': 30, 'city': 'Paris'}

# 22. Add "country": "USA" to {'name': 'John', 'age': 25}

In [27]:
d = {'name': 'John', 'age': 25}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

# 23. Access value with key "name"

In [28]:
d = {'name': 'Alice', 'age': 30}
print(d["name"])

Alice

# 24. Remove "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [30]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
print(d)

{'name': 'Bob', 'city': 'New York'}

# 25. Check if "city" in {'name': 'Alice', 'city': 'Paris'}

In [31]:
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

# 26. Create list, tuple, dict and print them

In [32]:
lst = [1, 2, 3]
t = (4, 5, 6)
d = {"a": 1, "b": 2}
print(lst, t, d)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

# 27. List of 5 random numbers, sort and print

In [33]:
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[6, 8, 15, 32, 77]

# 28. List with strings and print element at third index

In [34]:
lst = ["apple", "banana", "cherry", "date", "fig"]
print(lst[3])

date

# 29. Combine two dictionaries and print

In [35]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

# 30. Convert list of strings to set

In [36]:
lst = ["apple", "banana", "apple"]
s = set(lst)
print(s)

{'apple', 'banana'}